@charset "utf-8";

/* 文字コードを指定 */
.PageEx {
    z-index: 3;
}

#header {
    /* border: solid 1px orange; */
    /* width: 650px; */
    width: 660px;
    height: 150px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
}

.oya {
    position: relative;
}

.ko1 {
    /* border: solid 1px red; */
    position: absolute;
}

.ko2 {
    /* border: solid 1px blue; */
    position: absolute;
    right: 0;
    bottom: 0;
    width: 660px;
}

.ko3 {
    /* border: solid 1px red; */
    position: relative;
    display: flex;
}

.ko4 {
    /* border: solid 1px black; */
    position: absolute;
    right: 0;
    bottom: 0;
}

#title {
    /* border: solid 1px yellow; */
    width: 527px;
    height: 76px;
    margin-right: auto;
    font-size: 32px;
    line-height: 1.2;
    display: flex;
    align-items: center;
}

#subtitle {
    /* border: solid 1px yellowgreen; */
    width: 527px;
    height: 28px;
    margin-right: auto;
    font-size: 23px;
    /* text-align: center; */
}

#category {
    /* border: solid 1px skyblue; */
    display: flex;
    position: absolute;
    width: 270px;
    height: 32px;
    left: 0;
    bottom: 3px;
}

#category1 {
    margin-right: 8px;
}

.category {
    /* border: solid 1px black; */
    width: 125px;
    /* height: 32px; */
    border-radius: 100vh;
    color: white;
    text-align: center;
    line-height: 32px;
    font-size: 19px;
}

.categoryC {
    background-color: blue;
}

.categoryN {
    background-color: limegreen;
}

.categoryM {
    background-color: blueviolet;
}

.categoryD {
    background-color: red;
}

#flagFrame {
    /* border: solid 1px palegoldenrod; */
    position: relative;
    width: 100px;
    height: 85px;
    margin-left: auto;
    margin-bottom: 0.5em;
}

#flag {
    position: absolute;
    width: 100%;
    bottom: 0;
}

#country {
    /* border: solid 1px palegreen; */
    margin-left: auto;
    text-align: right;
    font-size: 23px;
}

#area {
    /* border: solid 1px green; */
    margin-left: auto;
    text-align: right;
    font-size: 23px;
}

#document {
    /* border: solid 1px purple; */
    width: 695px;
    /* height: 510px; */
    margin-top: 0.5em;
    margin-left: auto;
    margin-right: auto;
    font-size: 21px;
    animation: blur-anime 2s;
    -webkit-animation: blur-anime 2s;
}

@keyframes blur-anime {
    0% {
        filter: blur(25px);
        -webkit-filter: blur(25px);
    }

    100% {
        filter: blur(0px);
        -webkit-filter: blur(0px);
    }
}

.PageEx {
    margin: 0;
    padding: 0;
    width: 1080px;
    height: 1080px;
    background-color: black;
}

.circle {
    position: relative;
    width: 1080px;
    height: 1080px;
    background-color: white;
    clip-path: circle(50% at 50% 50%);
}

.layer-background {
    /* border: solid 1px orange; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: white;
    width: 1080px;
    height: 1080px;
}

.backImg {
    position: absolute;
    animation: zoom-opacity-anime 2s;
    -webkit-animation: zoom-opacity-anime 2s;
    /* height: 100%; */
    width: 100%;
    z-index: 10;
    /* filter: contrast(50%); */
    filter: opacity(50%);
}

@keyframes zoom-opacity-anime {
    0% {
        width: 0%;
        filter: opacity(50%);
        -webkit-filter: opacity(50%);
    }

    100% {
        width: 100%;
        filter: opacity(50%);
        -webkit-filter: opacity(50%);
    }
}

#frameImg {
    /* border: solid 1px palevioletred; */
    position: absolute;
    width: 1090px;
    height: 1090px;
    z-index: 15;
}

.layer-content {
    /* border: solid 1px palegoldenrod; */
    position: absolute;
    color: black;
    font-weight: 700;
    font-size: 20px;
    width: 1080px;
    height: 1080px;
    /* z-index: 30; */
    z-index: 20;
}

#potiFrame {
    /* border: solid 1px palevioletred; */
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 6em;
    height: 3em;
    z-index: 30;
    bottom: 150px;
}

.poti {
    /* border: solid 1px red; */
    flex: 1;
    font-size: 3em;
    width: 3em;
}

.white {
    color: white;
}

.black {
    color: black;
}

#author {
    /* border: solid 1px palevioletred; */
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 30;
    bottom: 125px;
    width: 400px;
    text-align: center;
}

#copyright {
    /* border: solid 1px palevioletred; */
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 30;
    bottom: 105px;
    width: 400px;
    text-align: center;
}